<html>
  <head>
    <title>The Flock of Niche Bird Blogs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/birdyblogs.png"> 

    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.css" integrity="sha512-ifnw7uo3puPqptyK3NL7X5zAilwRd7g5DjC8NDov8+zS/wyT1jaoVocaLePaZ7cGzflIFv58/4AtqImsO8UYxw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">

    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-5">
        <div>
          <h2 class="float-md-start mb-0">
            <img src="/birdyblogs.png" class="me-2" width="64">
            The Flock of Niche Bird Blogs
          </h2>
        </div>
      </header>

      <main class="px-3 mb-auto">
