<%- include('header.ejs') %>

        <div class="fs-4">
          <p>You don't appear to be a member of the <a href="https://flock-of-niche-bird-blogs.tumblr.com" target="_blank">Flock of Niche Bird Blogs</a>.</p>

          <p>Please join the <a href="https://discord.gg/AvWJBTkfyn">Birdy Buddies Discord server</a> to request an invitation.</p>
        </div>

<%- include('footer.ejs') %>
